/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #414141;
}


.sidenav-trigger {
  color: #26a69a;
}

    .img-wrap {
  
  max-height: 25em;
  position: relative;
  display: inline-block;
  overflow:hidden;
  padding: 25px;
        
} 

.my-image { 
    object-fit:fill 
}

